*, *::after, *::before {
	box-sizing: border-box;
}

.box {
	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	/*
	-- Messes with the Indenting in Updates Page on Fullscreen View --

	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
	*/
}

.box-item-image {
	-webkit-flex: 3 1 400px;
	-ms-flex: 3 1 400px;
	flex: 3 1 400px;
	padding-top: 1rem;
}

.box-item-icon {
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.box-item-text {
	-webkit-flex: 1 1 18em;
	-ms-flex: 1 1 18em;
	flex: 1 1 18em;
	padding-right: 2rem;
	padding-left: 2rem;
}
.box-item-counter { /*flexbox for checkout counter (+1 and -1 to total)*/
	width: 15%;
	display: flex;
	justify-content: space-between;
}


@media (min-width: 50.25em) {
	.box-item-image {
		-webkit-order: 2;
		-ms-order: 2;
		order: 2;
	}
}
