#nav-items a, #nav-items a:visited, #nav-toggle {
	display: inline-block;
	color: #FFFFFF;
	padding: 1em 1.25em;
	text-decoration: none;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
	visibility: visible;
	width: 100%;
	text-align: left;
	font-size: 1.2rem;
}


#nav-toggle {
	background-color: #B7A1DA;
	display: block;
	border: 0;
}

#nav-toggle:hover, #nav-toggle:focus {
	background-color: #6963A3;
}


/*
	Here we hide use .hidden and .shown to enable classes to show and hide our #nav-toggle
*/
#nav-toggle.hidden, #nav-items.hidden {
	visibility: hidden;
	display: none;
}

.button-bg1 {
	background-color: #B7A1DA;
}

.button-bg2 {
	background-color: #B7A1DA;
}

.button-bg3 {
	background-color: #B7A1DA;
}

.button-bg4 {
	background-color: #B7A1DA;
}

.button-bg5 {
	background-color: #B7A1DA;
}

.button-bg6 {
	background-color: #B7A1DA;
}

a:hover, a:active, a:focus {
	background-color: #6963A3;
	color: white;
}

.header-link{
	display: flex;
	flex-direction: row;
	justify-content: center;
	transition: opacity 0.25s;
}
.header-link:hover{
	background-color: #B7A1DA;
	opacity: 0.8;
}

body {
	font-family: 'Lato', Arial, Verdana, sans-serif;
	font-size: 1rem; 
	color: black;
}
