.welcome-banner{   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.banner {
    object-fit: cover;
    object-position: 50% 25%;
    height: 20rem;
    width: 100%;
    opacity: 0.5;
    margin-bottom: -3rem;
}

.welcome-message{
    position: relative;
    top: -12rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
}

.info-block{
    text-align: center;
    margin-top: 0;
}

.hours{
    margin-top: 1rem;
}

.location{
    margin-bottom: 2rem;
}

.popular-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.popular-item-pic{
    object-fit: cover;
    width: 100%;
    max-height: 200px;
    min-height: 100px;
    margin-top: 1rem;

    border-radius: 1rem;
    transition: opacity 0.5s;

}

.popular-item-pic:hover{
    opacity: 0.5;
}

.left-item{
    margin-right: 0.75rem;
}

.item-right{
    margin-left: 0.75rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 840px) {
  
    .popular-items{
      flex-direction: column;
    }

    .popular-item-pic{
        margin-top: 2rem;
    }
  }