/* 
  TEXT ELEMENTS -------------------
*/
body {
  font-family: 'Lato', serif;
  margin: 0;
  color: #3F504F;
  background-color: #e1dae4;
}

h1 {
  font-family: 'Gotham', sans-serif;
  color: #6963A3;
  font-size: 3rem;
  
}

h2 {
  font-family: 'Gotham', sans-serif;
  color: #6963A3;
  font-size: 1.5rem;
}

h3 {
  font-family: 'Gotham', sans-serif;
}

h4 {
  font-family: 'Gotham', sans-serif;
}

.gotham_font {
  font-family: 'Gotham', sans-serif;
}
.lato_font {
  font-family: 'Lato', sans-serif;
}

p, ol, ul {
	max-width: 40rem;
}


/* 
  STYLE ELEMENTS -------------------
*/

/*CSS for the purple bar header at the top of the website*/
/* #header { 
  background-color: #B7A1DA;
  color: white;
  padding: 1rem 7rem;
  border: 0;
  margin: 0;
} */

#footer { /*CSS for the black bar footer at the bottom of the website*/
  background-color: #3F504F;
  color: white;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border: 0;
  margin: 0;
  
}
#footer a:link {
  color: #CDF0CE
}
#footer a:visited {
color: #B7A1DA
}


.wrapper{ /*Wrapper to add margins to the website, Base loosely on: https://css-tricks.com/best-way-implement-wrapper-css*/
  margin: 0% 10% 0;
}

.segment{ /*Segments sort each section into white boxes*/
  margin: 0;
  padding: 1rem 1.5rem;
  border: 0;
  background:white;
  border-radius: 25px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  
}

.element {
  /* Dividers between sections with segments*/
  margin: 0 2rem 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #CDF0CE;
}

img{
  max-width: 100%;
  height: auto;
}
.round-img, .update-img, .menu-img {
  /*rounds the corners of an image, https://www.w3schools.com/howto/howto_css_rounded_images.asp*/
  border-radius: 50%;
}
.update-img {
  padding: 1rem;
  max-width: 200px;
  max-height: 200px;
}
.menu-img {
  width: 50%;
  min-width: 200px;
  min-width: 200px;
  max-width: 300px; 
  max-height: 300px;
}

.colour-palette-block{
  /*blocks used to show colours in the style guide*/
	font-family: 'Gotham', sans-serif;
  color: white;
  background-color: grey;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 10rem;
}
.colour-1{  background-color: #6963A3;  }
.colour-2{  background-color: #B7A1DA;  }
.colour-3{  background-color: #E1DAE4; color: #3F504F  }
.colour-4{  background-color: #CDF0CE; color: #3F504F;  }
.colour-5{  background-color: #3F504F;  }


.center {
  /*centers objects inside a flexbox container*/
  max-width: 100%  !important;
  display: block;
  margin-left: 1rem;
  margin-right: 1rem;
  
  height: auto;
  text-align: center;
  
}

.right-align{
	text-align: right;
}




/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* New Header Banner Image FEB27 */
.header-banner{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #B7A1DA;
}

.top-banner-logo{
  max-width: 50%;
}


/*Header Bar Container*/
/* .nav-main{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
} */

/* Header Bar Items */
/* .head-nav-item {
	font-family: 'Gotham', sans-serif;
  display: inline-block;
	color: white;

  border-radius: 2rem;

	font-size: 1.25rem;
  
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

	text-decoration: none;
  text-align: center;
	transition: background-color 0.5s ease-out;
} */

.head-nav-item:active, .head-nav-item:hover, .head-nav-item:focus {
	color: white;
	background-color: #6963A3;
}


/* Header Bar Main logo item */
.logo-image{
  /* border: black solid 1px; */
  max-width: 3rem;
  max-height: 3rem;

  margin: 1%;
  text-align: center;
  justify-content: center;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.logo-image:hover{
  opacity: 0.75;
}

.logo-box{
  text-align: center;
}

/*Navigation Buttons*/
.button-nav {
  font-family: 'Gotham', sans-serif;
  display: inline-block;

  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;

  color: #3F504F;
  border: 3px solid  #3f504f52;
  border-radius: 2rem;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
}
.button-nav:hover, .button-nav:focus {
  color: white;
  background-color: #3F504F;
}

/* Input Buttons */
input[type=submit], input[type=reset], button {
  border-radius: 1rem;
  border: solid #6963A3;
  background-color: white;
  padding: 0.5rem;
  width: 5rem;
  cursor: pointer;
  transition-duration: 0.5s;
}
input[type=submit]:hover, input[type=submit]:focus, input[type=reset]:hover, input[type=reset]:focus, button:focus, button:hover, .btn:hover, .btn:focus {
  background-color: #B7A1DA;
  color: white;
  transition-duration: 0.5s;
}

/*Input Text Field*/
input[type=text] {
  border: 2px solid #555;
  border-radius: 5px;
}
input[type=text]:focus, input[type=text]:hover, textarea:focus, textarea:hover{
  background-color: #e1f0d3;
}

/*Web Links*/
.link {
  color:#6963A3;
}
.link:hover, .link:focus {
  color: #B7A1DA;
  transition-duration: 0.5s;
}

/*Image Hover*/
.image-link:hover, .image-link:focus {
  /* Opacity is lowered when clicked on */
  opacity: 0.5;
  transition-duration: 0.5s;
}

/*Buttons for the checkout cart*/
.btn{ 
	width: 30px;
	height: 30px;
  
	border-radius: 50%; /*round corners*/
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
  border: solid #6963A3;
  background-color: white;
  transition-duration: 0.5s;
}



/*Checkout Information CSS */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
  font-family: 'Lato', sans-serif;
}
.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}
.col-100 {
  -ms-flex: 100%; /* IE10 */
  flex: 100%;
}
.col-50, .col-100 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 2rem 1rem 1.5rem 1rem;
  border-radius: 1rem;
  min-width: 10rem;
}
input[type=text ] {
  width: 90%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: flex;
  justify-content: start;
  margin-left: 2rem;
}
textarea {
  font-family: 'Lato', serif;
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
label {
  margin-bottom: 10px;
  margin-left: 2rem;
  display: flex;
  justify-content: start;
}

.bold-inline-text{
  font-weight: bold;
}

/* https://www.w3schools.com/css/css_rwd_mediaqueries.asp */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  /* make nav into row */
  /* .nav-main{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
  }   */

  /* make small, middle aligned nav buttons */
  /* .head-nav-item{
    align-self: center;
  } */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
